.todoList {
  height: 40vmin;
  width: 35vmin;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 1vmin;
  overflow: hidden;
}

nav {
  height: 10%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

nav input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}

.radio {
  height: 150%;
  max-width: 20%;
  background-color: lightcoral;
  cursor: pointer;
}

nav input[type="radio"]:checked + label {
  background-color: wheat;
}

.items {
  height: 90%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.items > div {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
}

textarea {
  margin-top: 0.5vmin;
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  color: white;
  outline: transparent;
  resize: none;
  overflow: auto;
}

#title {
  height: 20%;
  font-size: 2.5vmin;
  border-bottom: 0.1vmin solid white;
}

#excerpt {
  height: 80%;
  font-size: 2vmin;
}

textarea::placeholder {
  color: white;
}

textarea:focus::placeholder {
  outline: none;
}

.items::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 1vmin;
  height: 1vmin;
  cursor: pointer;
}

.items::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10vmin;
}

.items::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: transparent;
}
