.todoList {
  position: relative;
  height: 40vmin;
  width: 35vmin;
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 1vmin;
  overflow-x: hidden;
  border: 0vmin solid #282c34;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5),
    inset 0 -15px 15px rgba(0, 0, 0, 0.2), 0 15px 15px rgba(0, 0, 0, 0.8),
    inset 0 5px 5px rgba(0, 0, 0, 0.6);
}

nav {
  height: 10%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

nav input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}

.radio {
  height: 80%;
  max-width: 20%;
  background-color: lightblue;
  cursor: pointer;
  margin: 0.1vmin;
  border-radius: 10%;
}

.radio:nth-child(1) {
  margin-left: 0;
}

.radio:nth-child(5) {
  margin-right: 0;
}

.items {
  height: 90%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.items > div {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
}

textarea {
  margin-top: 1vmin;
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  color: white;
  outline: transparent;
  resize: none;
  overflow: auto;
}

#title {
  height: 15%;
  font-size: 2vmin;
  text-align: center;
  border-bottom: 0.1vmin solid white;
}

#excerpt {
  height: 80%;
  font-size: 1.75vmin;
  margin-left: 1vmin;
}

textarea::placeholder {
  color: white;
}

textarea:focus::placeholder {
  outline: none;
}

.items::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 1vmin;
  height: 1vmin;
  cursor: pointer;
}

.items::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10vmin;
}

.items::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: transparent;
}

.todoButton {
  height: 3vmin;
  width: 15vmin;
  bottom: -10%;
  left: 50%;
  border-radius: 2vmin;
  position: absolute;
  transform: translate(-50%);
  background: gray;
  color: white;
  margin-top: 1vmin;
  font-size: 2vmin;
  border: 0.2vmin solid #282c34;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5),
    inset 0 -10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5),
    inset 0 5px 5px rgba(0, 0, 0, 0.25);
}
