.hub {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vmin;
  border: 0.1em solid white;
}

.hub::before {
  position: absolute;
  left: 50%;
  content: "";
  height: 100%;
  width: 0.1em;
  background-color: white;
}

.hub > div {
  flex: 50%;
}

.widget {
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
