.header {
  height: 8vmin;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vmin solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1vmin;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  height: 100%;
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vmin 1vmin;
  text-decoration: none;
  font-size: 1.25em;
}

li a:hover {
  text-decoration: underline;
}
